HASURA_GRAPHQL_ENDPOINT=
HASURA_ADMIN_SECRET=

CLIENT_SESSION_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=
SMTP_FROM_EMAIL=

WOMPI_PUBLIC_KEY_002=
WOMPI_PRIVATE_KEY_002=
WOMPI_INTEGRITY_SECRET_002=
WOMPI_EVENTS_SECRET_002=

WOMPI_PUBLIC_KEY_003=
WOMPI_PRIVATE_KEY_003=
WOMPI_INTEGRITY_SECRET_003=
WOMPI_EVENTS_SECRET_003=

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=

FACTURACION_API_URL=
FACTURACION_API_KEY=
FACTURACION_API_TIMEOUT_MS=
FACTURACION_API_REGISTRATION_PATH=
FACTURACION_API_SEARCH_PATH=
FACTURACION_API_DOWNLOAD_PATH=

THEFACTORY_ENV=
THEFACTORY_SOAP_URL_DEMO=
THEFACTORY_SOAP_URL_PROD=
THEFACTORY_TIMEOUT_MS=
THEFACTORY_TOKEN_EMPRESA_002=
THEFACTORY_TOKEN_PASSWORD_002=
THEFACTORY_TOKEN_EMPRESA_003=
THEFACTORY_TOKEN_PASSWORD_003=
THEFACTORY_NIT_EMISOR_002=
THEFACTORY_NIT_EMISOR_003=

HEALTHCHECK_TOKEN=

NEXT_PUBLIC_PORTAL_URL=
